@charset "UTF-8";
@font-face {
  font-family: "icons";
  src: url("../fonts/icons/icons.eot");
  src: url("../fonts/icons/icons.eot?#iefix") format("eot"), url("../fonts/icons/icons.woff") format("woff"), url("../fonts/icons/icons.ttf") format("truetype"), url("../fonts/icons/icons.svg#icons") format("svg");
}

.icon-arrow:before, .icon-bag:before, .icon-burger:before, .icon-check-mark:before, .icon-close:before, .icon-heart:before, .icon-heartactive:before, .icon-minus:before, .icon-plus:before, .icon-search:before, .mobile_nav-label:before, .header-search:before, .header-account-label:before, .header-minicart:before, .header-localization-select-wrapper:before, .footer-signup-input-check:checked ~ .footer-signup-label-check:before, .footer-nav-item:before, .footer-nav-label:before, .recommendations-wishlist:before, .recommendations-wishlist:hover:before {
  font-family: "icons";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  text-decoration: none;
  text-transform: none;
  font-size: 32px;
}

.icon-arrow:before {
  content: "";
}

.icon-bag:before {
  content: "";
}

.icon-burger:before {
  content: "";
}

.icon-check-mark:before {
  content: "";
}

.icon-close:before {
  content: "";
}

.icon-heart:before {
  content: "";
}

.icon-heartactive:before {
  content: "";
}

.icon-minus:before {
  content: "";
}

.icon-plus:before {
  content: "";
}

.icon-search:before {
  content: "";
}

@font-face {
  font-family: 'Apercu';
  src: url("../fonts/apercu/Apercu-Regular.eot");
  src: url("../fonts/apercu/Apercu-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/apercu/Apercu-Regular.woff2") format("woff2"), url("../fonts/apercu/Apercu-Regular.woff") format("woff"), url("../fonts/apercu/Apercu-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Apercu';
  src: url("../fonts/apercu/Apercu-Italic.eot");
  src: url("../fonts/apercu/Apercu-Italic.eot?#iefix") format("embedded-opentype"), url("../fonts/apercu/Apercu-Italic.woff2") format("woff2"), url("../fonts/apercu/Apercu-Italic.woff") format("woff"), url("../fonts/apercu/Apercu-Italic.ttf") format("truetype");
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'Apercu';
  src: url("../fonts/apercu/Apercu-Bold.eot");
  src: url("../fonts/apercu/Apercu-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/apercu/Apercu-Bold.woff2") format("woff2"), url("../fonts/apercu/Apercu-Bold.woff") format("woff"), url("../fonts/apercu/Apercu-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Apercu';
  src: url("../fonts/apercu/Apercu-Medium.eot");
  src: url("../fonts/apercu/Apercu-Medium.eot?#iefix") format("embedded-opentype"), url("../fonts/apercu/Apercu-Medium.woff2") format("woff2"), url("../fonts/apercu/Apercu-Medium.woff") format("woff"), url("../fonts/apercu/Apercu-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Apercu';
  src: url("../fonts/apercu/Apercu-BoldItalic.eot");
  src: url("../fonts/apercu/Apercu-BoldItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/apercu/Apercu-BoldItalic.woff2") format("woff2"), url("../fonts/apercu/Apercu-BoldItalic.woff") format("woff"), url("../fonts/apercu/Apercu-BoldItalic.ttf") format("truetype");
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: 'Apercu Mono';
  src: url("../fonts/apercu/Apercu-Mono.eot");
  src: url("../fonts/apercu/Apercu-Mono.eot?#iefix") format("embedded-opentype"), url("../fonts/apercu/Apercu-Mono.woff2") format("woff2"), url("../fonts/apercu/Apercu-Mono.woff") format("woff"), url("../fonts/apercu/Apercu-Mono.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Apercu';
  src: url("../fonts/apercu/Apercu-Light.eot");
  src: url("../fonts/apercu/Apercu-Light.eot?#iefix") format("embedded-opentype"), url("../fonts/apercu/Apercu-Light.woff2") format("woff2"), url("../fonts/apercu/Apercu-Light.woff") format("woff"), url("../fonts/apercu/Apercu-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Apercu';
  src: url("../fonts/apercu/Apercu-LightItalic.eot");
  src: url("../fonts/apercu/Apercu-LightItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/apercu/Apercu-LightItalic.woff2") format("woff2"), url("../fonts/apercu/Apercu-LightItalic.woff") format("woff"), url("../fonts/apercu/Apercu-LightItalic.ttf") format("truetype");
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: 'Apercu';
  src: url("../fonts/apercu/Apercu-LightItalic_1.eot");
  src: url("../fonts/apercu/Apercu-LightItalic_1.eot?#iefix") format("embedded-opentype"), url("../fonts/apercu/Apercu-LightItalic_1.woff2") format("woff2"), url("../fonts/apercu/Apercu-LightItalic_1.woff") format("woff"), url("../fonts/apercu/Apercu-LightItalic_1.ttf") format("truetype");
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: 'Apercu';
  src: url("../fonts/apercu/Apercu-MediumItalic.eot");
  src: url("../fonts/apercu/Apercu-MediumItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/apercu/Apercu-MediumItalic.woff2") format("woff2"), url("../fonts/apercu/Apercu-MediumItalic.woff") format("woff"), url("../fonts/apercu/Apercu-MediumItalic.ttf") format("truetype");
  font-weight: 500;
  font-style: italic;
}

/********************
*********************
CREATING INLINE BLOCK
*********************
********************/
/********************
*********************
SITE WIDTH
*********************
********************/
/********************
*********************
CLEAR FIX 
*********************
********************/
/********************
*********************
ABSOLUTE HORIZONTAL CENTERING 
*********************
********************/
/********************
*********************
ABSOLUTE VERTICAL CENTERING 
*********************
********************/
/********************
*********************
ABSOLUTE CENTERING
*********************
********************/
/********************
*********************
CENTERING IMAGE
*********************
********************/
/********************
*********************
CALCULATING PX IN %
*********************
********************/
/********************
*********************
ADD PADDINGS FOR EXACT SIDE(NEED APPROVE)
*********************
********************/
/********************
*********************
ADD MARGIN EXACT SIDE
*********************
********************/
/********************
*********************
SHORTCUT FOR PSEUDO ELEMENTS
*********************
********************/
/********************
*********************
SHORTCUT FOR TRIANGLES
*********************
********************/
/********************
*********************
SHORTCUT FOR FONTS
*********************
********************/
.primary_button {
  text-transform: uppercase;
  background: #000000;
  color: #ffffff;
  font-size: 13px;
  font-weight: 700;
  line-height: 45px;
  padding: 0 30px;
  text-align: center;
}

.primary_button:hover {
  background: #c4d5e8;
}

.primary_button:disabled {
  background: #f0f0f0;
}

.input_button {
  color: #000000;
  text-transform: uppercase;
  font-size: 13px;
}

.input_button:hover {
  opacity: 0.7;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
body,
ul,
li,
p {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: #000000;
  display: inline-block;
  cursor: pointer;
}

ul,
li {
  list-style: none;
}

input,
button {
  border: none;
  outline: none;
}

button,
input[type="button"],
input[type="submit"] {
  background: none;
  padding: 0;
}

input[type="radio"],
input[type="checkbox"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  position: absolute;
}

select {
  border: none;
  outline: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

body {
  line-height: 1;
  font-size: 0;
}

html {
  font-family: "Apercu", sans-serif;
  font-size: 10px;
}

body {
  font-size: 10px;
  font-family: "Apercu", sans-serif;
  color: #000000;
}

img {
  width: 100%;
  display: block;
}

h1 {
  font-size: 36px;
}

@media (min-width: 320px) and (max-width: 767px) {
  h1 {
    font-size: 24px;
  }
}

h2 {
  font-size: 30px;
}

@media (min-width: 320px) and (max-width: 767px) {
  h2 {
    font-size: 20px;
  }
}

h3 {
  font-size: 24px;
}

@media (min-width: 320px) and (max-width: 767px) {
  h3 {
    font-size: 18px;
  }
}

h4 {
  font-size: 16px;
}

@media (min-width: 320px) and (max-width: 767px) {
  h4 {
    font-size: 14px;
  }
}

h5 {
  font-size: 13px;
  color: #000000;
}

p {
  font-weight: 400;
  font-size: 13px;
}

@media (min-width: 320px) and (max-width: 767px) {
  p {
    font-size: 12px;
  }
}

.main {
  position: relative;
}

/*******************
********************
CREATE BELOW COMMON CLASSES
********************
*******************/
.advertise {
  background: #f0f0f0;
  padding: 10px 20px;
}

.advertise-description {
  text-align: center;
  line-height: 20px;
}

.burger {
  min-height: 50px;
  display: flex;
  align-items: center;
  flex: 1 1 25%;
}

@media (min-width: 1024px) {
  .burger {
    display: none;
  }
}

.burger-toggle {
  width: 15px;
  height: 2px;
  background: #000000;
  position: relative;
  z-index: 40;
}

.burger-toggle::after, .burger-toggle::before {
  content: '';
  width: 15px;
  height: 2px;
  background: #000000;
  position: absolute;
  left: 0;
}

.burger-toggle::after {
  top: 4px;
}

.burger-toggle::before {
  bottom: 4px;
}

.burger-checkbox:checked ~ .header-mobile_menu {
  left: 0;
  display: flex;
  flex-direction: column;
}

.burger-checkbox:checked ~ .burger {
  position: fixed;
  right: 20px;
  top: 0;
  z-index: 20;
}

.burger-checkbox:checked ~ .burger label {
  transform: rotate(45deg);
  transition: all 0.5s ease;
}

.burger-checkbox:checked ~ .burger label::before {
  transform: rotate(270deg);
  bottom: 0;
}

.burger-checkbox:checked ~ .burger label::after {
  display: none;
}

.burger-checkbox:not(:checked) ~ .header-mobile_menu {
  opacity: 0;
}

.logo {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1 1 50%;
}

.logo-link {
  min-height: 50px;
}

.logo-additional_link {
  margin-bottom: 25px;
}

.logo-hide {
  display: none;
}

.mobile_nav {
  padding-bottom: 15px;
  border-bottom: 1px dashed #cccccc;
}

.mobile_nav-wrapper {
  position: relative;
  padding: 20px 0;
}

.mobile_nav-sublist {
  padding: 0 20px;
}

.mobile_nav-sublist-personalization {
  padding: 0 20px;
}

@media (min-width: 768px) and (max-width: 1024px) {
  .mobile_nav-sublist-personalization {
    display: flex;
    justify-content: space-between;
  }
}

.mobile_nav-label {
  display: block;
  line-height: 40px;
  font-size: 13px;
  color: #000000;
  text-transform: capitalize;
  position: relative;
}

.mobile_nav-label:before {
  content: "";
}

.mobile_nav-label::before {
  position: absolute;
  top: 50%;
  margin-top: -20px;
  right: 0;
  color: #000000;
  font-size: 8px;
}

.mobile_nav-link {
  font-size: 13px;
  line-height: 40px;
}

.mobile_nav-subitem {
  position: fixed;
  left: -100%;
  top: 125px;
  background: #ffffff;
  z-index: 60;
  display: none;
  min-height: 100%;
  overflow: scroll;
}

.mobile_nav-subitem-personal {
  margin-bottom: 10px;
}

@media (min-width: 768px) and (max-width: 1024px) {
  .mobile_nav-subitem-personal {
    width: 32%;
  }
}

.mobile_nav-subitem-title {
  background: #f0f0f0;
  text-align: center;
  width: 100%;
  line-height: 20px;
  padding: 10px;
  word-break: break-all;
  text-decoration: underline;
  text-transform: capitalize;
}

@media (min-width: 768px) and (max-width: 1024px) {
  .mobile_nav-subitem-title {
    margin-bottom: 15px;
  }
}

.mobile_nav-subitem-title-word {
  display: block;
  text-decoration: none;
}

.mobile_nav-checkbox:checked ~ .mobile_nav-subitem {
  right: 0;
  left: 0;
  bottom: 0;
  display: block;
}

.mobile_nav-checkbox:checked ~ .mobile_nav-label {
  padding-left: 10px;
  visibility: hidden;
}

.mobile_nav-checkbox:checked ~ .mobile_nav-label::after {
  content: "Back";
  visibility: visible;
  font-weight: 700;
  position: fixed;
  left: 0;
  top: 75px;
  padding-left: 35px;
  width: 100%;
  background: #ffffff;
}

.mobile_nav-checkbox:checked ~ .mobile_nav-label::before {
  visibility: visible;
  transform: rotate(180deg);
  right: 100%;
  font-size: 8px;
  z-index: 70;
  position: fixed;
  left: 20px;
  top: 75px;
  margin-top: 0;
}

.mobile_nav-image-wrapper {
  margin: 0 -20px;
}

@media (min-width: 768px) and (max-width: 1024px) {
  .mobile_nav-image-wrapper {
    margin: 0;
  }
}

.mobile_nav-info {
  padding: 20px 0;
}

.mobile_nav-subtitle {
  font-size: 18px;
  font-weight: 700;
  line-height: 20px;
  margin-bottom: 20px;
  text-transform: capitalize;
}

.mobile_nav-sublink {
  font-size: 13px;
  font-weight: 700;
  text-transform: uppercase;
  position: relative;
}

.mobile_nav-sublink::after {
  content: '';
  position: absolute;
  width: 100%;
  left: 0;
  bottom: -5px;
  background: #c4d5e8;
  height: 2px;
}

.mobile_nav-sublink:hover::after {
  background: #0b2171;
}

.nav {
  display: none;
}

@media (min-width: 1024px) {
  .nav {
    display: flex;
  }
}

@media (min-width: 1024px) {
  .nav-container_list {
    display: flex;
    justify-content: center;
    flex-basis: 100%;
  }
}

.nav-list {
  background: #ffffff;
  padding-bottom: 45px;
}

@media (min-width: 1024px) {
  .nav-list {
    width: 100%;
    max-width: 984px;
    margin: 0 auto;
    display: none;
    justify-content: space-between;
  }
}

@media (min-width: 1440px) {
  .nav-list {
    width: 100%;
    max-width: 1315px;
    margin: 0 auto;
  }
}

.nav-list-wrapper {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
}

.nav-list-wrapper::before {
  content: '';
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  height: 100vh;
  background: rgba(0, 0, 0, 0.4);
  pointer-events: none;
}

@media (min-width: 1024px) {
  .nav-item {
    width: 17%;
  }
}

@media (min-width: 1024px) {
  .nav-item-title {
    text-transform: uppercase;
    margin-bottom: 20px;
  }
}

@media (min-width: 1024px) {
  .nav-item-subitem + .nav-item-subitem {
    margin-top: 20px;
  }
}

.nav-item-sublink {
  font-size: 13px;
  position: relative;
}

.nav-item-sublink:hover::after {
  content: '';
  position: absolute;
  width: 100%;
  left: 0;
  bottom: -1px;
  background: #bfbfbf;
  height: 1px;
  box-shadow: 0px 1px 0px 0px #7f7f7f;
}

.nav-item-all_link {
  font-weight: 700;
}

.nav-item-banner {
  display: none;
  width: 31%;
  position: relative;
}

@media (min-width: 1440px) {
  .nav-item-banner {
    display: block;
  }
}

@media (min-width: 1440px) {
  .nav-item-info {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

@media (min-width: 1440px) {
  .nav-item-info-title {
    font-size: 24px;
    color: #ffffff;
    margin-bottom: 15px;
  }
}

@media (min-width: 1440px) {
  .nav-item-info-description {
    font-size: 13px;
    text-transform: uppercase;
    color: #ffffff;
  }
}

.nav-item-image {
  -webkit-filter: brightness(70%);
  filter: brightness(70%);
}

@media (min-width: 1024px) {
  .nav-container_item {
    padding: 0 20px 35px;
  }
  .nav-container_item:hover .nav-list {
    display: flex;
  }
  .nav-container_item:hover .nav-list-wrapper {
    display: block;
    background: white;
  }
  .nav-container_item:hover .nav-gallery-list {
    max-width: 100%;
  }
}

.nav-container_link {
  text-transform: capitalize;
  font-size: 13px;
  font-weight: 400;
  color: #000000;
  position: relative;
}

.nav-container_link:hover::after {
  content: '';
  position: absolute;
  width: 100%;
  left: 0;
  bottom: -5px;
  background: #c4d5e8;
  height: 2px;
}

.nav-gallery {
  width: 33%;
}

.nav-gallery-list {
  padding: 0 10px;
}

.nav-gallery-image-wrapper {
  margin-bottom: 15px;
}

.nav-gallery-title {
  font-size: 20px;
  margin-bottom: 20px;
}

.nav-gallery-link {
  font-size: 13px;
  font-weight: 700;
  text-transform: uppercase;
  position: relative;
  margin-bottom: 20px;
}

.nav-gallery-link::after {
  content: '';
  position: absolute;
  width: 100%;
  left: 0;
  bottom: -5px;
  background: #c4d5e8;
  height: 2px;
}

.nav-gallery-link:hover::after {
  background: #0b2171;
}

.header {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  background: #ffffff;
  z-index: 20;
}

@media (min-width: 1024px) and (max-width: 1439px) {
  .header-inner {
    width: 100%;
    max-width: 984px;
    margin: 0 auto;
  }
}

@media (min-width: 1440px) {
  .header-inner {
    width: 100%;
    max-width: 1315px;
    margin: 0 auto;
  }
}

.header-main {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  padding: 15px 20px 35px;
}

@media (min-width: 1024px) and (max-width: 1439px) {
  .header-main {
    align-items: center;
    padding: 15px 0 35px;
  }
}

.header-actions {
  flex: 1 1 25%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  min-height: 50px;
}

.header-search {
  display: flex;
  align-items: center;
  margin-right: 15px;
}

.header-search:before {
  content: "";
}

.header-search::before {
  color: #000000;
  font-size: 15px;
}

@media (min-width: 768px) {
  .header-search::before {
    margin-right: 5px;
  }
}

.header-search-text {
  display: none;
}

@media (min-width: 768px) {
  .header-search-text {
    display: inherit;
    font-size: 12px;
    color: #000000;
  }
}

.header-account {
  display: none;
  position: relative;
}

@media (min-width: 1024px) {
  .header-account {
    display: inline-block;
    margin-right: 30px;
  }
  .header-account-input {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    position: absolute;
  }
  .header-account-input:checked ~ .header-account-list {
    display: block;
  }
  .header-account-input:checked ~ .header-account-label::before {
    transform: rotate(270deg);
    color: #0b2171;
  }
  .header-account-label {
    position: relative;
    background-color: #ffffff;
    display: inline-block;
    font-size: 12px;
    z-index: 30;
    cursor: pointer;
  }
  .header-account-label:before {
    content: "";
  }
  .header-account-label:before {
    position: absolute;
    top: 50%;
    left: 100%;
    margin-left: -15px;
    transform: rotate(90deg);
    font-size: 8px;
    margin-top: -4px;
    color: #c4d5e8;
    cursor: pointer;
  }
  .header-account-label::before {
    margin-left: 5px;
  }
  .header-account-list {
    display: none;
    position: absolute;
    top: -20px;
    left: -10px;
    width: 80px;
    padding: 50px 10px 20px;
    border: 1px solid #000000;
    background: #ffffff;
    z-index: 20;
  }
  .header-account-item + .header-account-item {
    margin-top: 15px;
  }
  .header-account-link {
    font-size: 12px;
    color: #000000;
    text-transform: capitalize;
    position: relative;
  }
  .header-account-link::after {
    content: '';
    position: absolute;
    width: 100%;
    left: 0;
    bottom: -2px;
    background: #bfbfbf;
    height: 1px;
  }
  .header-account-link:hover::after {
    display: none;
  }
}

.header-minicart:before {
  content: "";
}

@media (min-width: 768px) {
  .header-minicart {
    display: flex;
    align-items: center;
  }
}

.header-minicart::before {
  color: #000000;
  font-size: 15px;
}

@media (min-width: 768px) {
  .header-minicart::before {
    display: none;
  }
}

.header-minicart-text {
  display: none;
}

@media (min-width: 768px) {
  .header-minicart-text {
    display: inherit;
    font-size: 12px;
    color: #000000;
    margin-right: 5px;
  }
}

.header-minicart-count {
  display: none;
}

@media (min-width: 768px) {
  .header-minicart-count {
    font-size: 14px;
    color: #0b2171;
    line-height: 20px;
    background: #c4d5e8;
    border-radius: 25px;
    width: 20px;
    height: 20px;
    text-align: center;
    display: inline-block;
  }
}

.header-mobile_menu {
  position: fixed;
  left: -100%;
  transition: all 0.5s ease-out;
  top: 0;
  width: 100%;
  height: 100%;
  background: #ffffff;
  padding: 20px;
}

.header-localization {
  display: none;
}

@media (min-width: 1024px) {
  .header-localization {
    display: flex;
    flex: 1 1 25%;
    align-items: center;
  }
}

.header-localization-select {
  padding-right: 10px;
}

.header-localization-select-wrapper {
  position: relative;
  background-color: #ffffff;
  display: inline-block;
  margin-bottom: 20px;
  width: 90px;
  margin-right: 40px;
}

.header-localization-select-wrapper:before {
  content: "";
}

.header-localization-select-wrapper:before {
  position: absolute;
  top: 50%;
  left: 100%;
  margin-left: -15px;
  transform: rotate(90deg);
  font-size: 8px;
  margin-top: -4px;
  color: #c4d5e8;
  cursor: pointer;
}

@media (min-width: 1024px) {
  .header-localization-select-wrapper {
    margin-bottom: 0;
  }
}

.header-localization-service {
  font-size: 12px;
  color: #000000;
}

.header-mobile_account {
  padding: 15px 0;
  border-bottom: 1px dashed #cccccc;
}

.header-mobile_account-link {
  display: block;
  line-height: 40px;
  font-size: 13px;
}

.header-service {
  padding: 15px 0;
}

.header-service-link {
  display: block;
  line-height: 40px;
  font-size: 13px;
}

.footer {
  background: #f0f0f0;
}

@media (min-width: 768px) and (max-width: 1023px) {
  .footer {
    background: none;
  }
}

@media (min-width: 1024px) and (max-width: 1439px) {
  .footer {
    background: none;
  }
}

@media (min-width: 1440px) {
  .footer {
    background: none;
  }
}

.footer-inner {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

@media (min-width: 1024px) and (max-width: 1439px) {
  .footer-inner {
    justify-content: center;
  }
}

@media (min-width: 1440px) {
  .footer-inner {
    justify-content: center;
  }
}

.footer-signup {
  order: 1;
  flex-basis: 100%;
  padding: 60px 20px;
  background: #ffffff;
}

@media (min-width: 768px) and (max-width: 1023px) {
  .footer-signup {
    flex-basis: 64.5%;
    padding: 0 0 80px 35px;
  }
}

@media (min-width: 1024px) and (max-width: 1439px) {
  .footer-signup {
    flex: 1 1 66.66667%;
    max-width: 396px;
    padding: 0 0 80px 0;
  }
}

@media (min-width: 1440px) {
  .footer-signup {
    flex: 1 1 66.66667%;
    max-width: 528px;
    padding: 0 0 80px 0;
  }
}

.footer-signup-title {
  text-transform: uppercase;
  margin-bottom: 15px;
  font-size: 14px;
}

.footer-signup-description {
  font-size: 12px;
  line-height: 20px;
  margin-bottom: 25px;
}

.footer-signup-form {
  position: relative;
}

.footer-signup-input {
  font-size: 13px;
  color: #000000;
  border-bottom: 2px solid #c4d5e8;
  padding-bottom: 12px;
  width: 100%;
  padding-right: 60px;
  margin-bottom: 10px;
}

.footer-signup-input::placeholder {
  color: #a3a3a3;
}

.footer-signup-input:hover, .footer-signup-input:focus {
  border-bottom-color: #0b2171;
}

.footer-signup-input:focus ~ .footer-signup-submit,
.footer-signup-input:focus ~ .footer-signup-label-check {
  display: block;
}

.footer-signup-submit {
  display: none;
  position: absolute;
  top: 0;
  right: 0;
  text-transform: uppercase;
  color: #000000;
  font-weight: 700;
}

.footer-signup-invalid_message {
  color: #de0000;
  font-size: 12px;
  display: none;
}

.footer-signup-label-check {
  position: relative;
  display: none;
  padding-left: 25px;
  font-size: 12px;
  line-height: 20px;
  margin-top: 20px;
}

.footer-signup-label-check::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 14px;
  height: 14px;
  border: 2px solid #c4d5e8;
}

.footer-signup-label-check::before {
  top: 2px;
}

.footer-signup-input-check {
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  position: absolute;
}

.footer-signup-input-check:checked ~ .footer-signup-label-check:before {
  content: "";
}

.footer-signup-input-check:checked ~ .footer-signup-label-check::before {
  color: #ffffff;
  font-size: 7px;
  line-height: 14px;
  text-align: center;
  border: none;
  z-index: 1;
}

.footer-signup-input-check:checked ~ .footer-signup-label-check::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 14px;
  height: 14px;
  background: #0b2171;
}

.footer-signup-input-check:checked ~ .footer-signup-label-check::after {
  top: 2px;
}

.footer-signup-link {
  display: inline;
  text-decoration: underline;
}

.footer-signup-valid_message {
  font-size: 12px;
  font-weight: 700;
  display: none;
}

.footer-payment {
  order: 3;
  flex-basis: 100%;
  padding: 0 20px;
  margin-bottom: 40px;
}

@media (min-width: 768px) and (max-width: 1023px) {
  .footer-payment {
    order: 2;
    flex-basis: 25.5%;
    padding: 0 35px 0 0;
    margin: 0;
  }
}

@media (min-width: 1024px) and (max-width: 1439px) {
  .footer-payment {
    flex: 1 1 33.3333%;
    max-width: 588px;
    order: 2;
    flex-basis: auto;
    padding: 0;
    margin: 0;
  }
}

@media (min-width: 1440px) {
  .footer-payment {
    flex: 1 1 33.3333%;
    max-width: 784px;
    order: 2;
    flex-basis: auto;
    padding: 0;
    margin: 0;
  }
}

.footer-payment-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

@media (min-width: 1024px) and (max-width: 1439px) {
  .footer-payment-list {
    justify-content: flex-end;
  }
}

@media (min-width: 1440px) {
  .footer-payment-list {
    justify-content: flex-end;
    padding-right: 50px;
  }
}

.footer-payment-item {
  width: 18.75%;
}

@media (min-width: 768px) and (max-width: 1023px) {
  .footer-payment-item {
    width: 50%;
    margin-bottom: 20px;
    text-align: center;
  }
}

@media (min-width: 1024px) and (max-width: 1439px) {
  .footer-payment-item {
    width: auto;
    margin-bottom: 0;
    text-align: center;
  }
  .footer-payment-item + .footer-payment-item {
    margin-left: 20px;
  }
}

@media (min-width: 1440px) {
  .footer-payment-item {
    width: auto;
    margin-bottom: 0;
    text-align: center;
  }
  .footer-payment-item + .footer-payment-item {
    margin-left: 20px;
  }
}

.footer-payment-image {
  max-width: 60px;
  display: inline-block;
}

.footer-nav {
  order: 2;
  flex-basis: 100%;
  padding: 0 20px;
}

@media (min-width: 768px) and (max-width: 1023px) {
  .footer-nav {
    order: 3;
    padding: 0 35px;
    background: #f0f0f0;
  }
}

@media (min-width: 1024px) and (max-width: 1439px) {
  .footer-nav {
    order: 3;
    padding: 0;
    background: #f0f0f0;
  }
}

@media (min-width: 1440px) {
  .footer-nav {
    order: 3;
    padding: 0;
    background: #f0f0f0;
  }
}

.footer-nav-list {
  padding: 60px 0;
}

@media (min-width: 768px) and (max-width: 1023px) {
  .footer-nav-list {
    display: flex;
    justify-content: space-between;
    padding: 55px 0;
  }
}

@media (min-width: 1024px) and (max-width: 1439px) {
  .footer-nav-list {
    width: 100%;
    max-width: 984px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    padding: 60px 0 15px;
  }
}

@media (min-width: 1440px) {
  .footer-nav-list {
    width: 100%;
    max-width: 1315px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    padding: 60px 0 15px;
  }
}

.footer-nav-item {
  position: relative;
}

.footer-nav-item:before {
  content: "";
}

@media (min-width: 768px) and (max-width: 1023px) {
  .footer-nav-item::before {
    display: none;
  }
}

@media (min-width: 1024px) and (max-width: 1439px) {
  .footer-nav-item {
    width: 25%;
  }
  .footer-nav-item::before {
    display: none;
  }
}

@media (min-width: 1440px) {
  .footer-nav-item {
    width: 25%;
  }
  .footer-nav-item::before {
    display: none;
  }
}

.footer-nav-item + .footer-nav-item {
  margin-top: 30px;
}

@media (min-width: 768px) and (max-width: 1023px) {
  .footer-nav-item + .footer-nav-item {
    margin-top: 0;
  }
}

@media (min-width: 1024px) and (max-width: 1439px) {
  .footer-nav-item + .footer-nav-item {
    margin-top: 0;
  }
}

@media (min-width: 1440px) {
  .footer-nav-item + .footer-nav-item {
    margin-top: 0;
  }
}

.footer-nav-item::before {
  font-size: 14px;
  position: absolute;
  top: 0;
  right: 0;
  color: #000000;
}

.footer-nav-label {
  font-weight: 700;
  font-size: 14px;
  text-transform: uppercase;
  color: #000000;
  position: relative;
  display: block;
  border: none;
}

.footer-nav-label:before {
  content: "";
}

@media (min-width: 768px) and (max-width: 1023px) {
  .footer-nav-label::before {
    display: none;
  }
}

@media (min-width: 1024px) and (max-width: 1439px) {
  .footer-nav-label::before {
    display: none;
  }
}

@media (min-width: 1440px) {
  .footer-nav-label::before {
    display: none;
  }
}

.footer-nav-label::before {
  font-size: 14px;
  position: absolute;
  top: 0;
  right: 0;
}

.footer-nav-input {
  display: none;
}

.footer-nav-input:checked ~ .footer-nav-sublist {
  display: block;
}

.footer-nav-input:checked ~ .footer-nav-label::before {
  display: none;
}

.footer-nav-sublist {
  display: none;
  margin-bottom: 40px;
}

@media (min-width: 768px) and (max-width: 1023px) {
  .footer-nav-sublist {
    display: block;
    margin-bottom: 0;
  }
}

@media (min-width: 1024px) and (max-width: 1439px) {
  .footer-nav-sublist {
    display: block;
    margin-bottom: 0;
  }
}

@media (min-width: 1440px) {
  .footer-nav-sublist {
    display: block;
    margin-bottom: 0;
  }
}

.footer-nav-subitem {
  margin-top: 20px;
}

.footer-nav-sublink {
  color: #000000;
}

@media (min-width: 1024px) and (max-width: 1439px) {
  .footer-nav-sublink {
    font-size: 12px;
    color: #000000;
    position: relative;
  }
  .footer-nav-sublink:hover::after {
    content: '';
    position: absolute;
    width: 100%;
    left: 0;
    bottom: -2px;
    background: #3f3f3f;
    height: 1px;
  }
}

@media (min-width: 1440px) {
  .footer-nav-sublink {
    font-size: 12px;
    color: #000000;
    position: relative;
  }
  .footer-nav-sublink:hover::after {
    content: '';
    position: absolute;
    width: 100%;
    left: 0;
    bottom: -2px;
    background: #3f3f3f;
    height: 1px;
  }
}

.footer-copyright {
  order: 4;
  flex-basis: 100%;
  padding: 20px 20px;
}

@media (min-width: 768px) and (max-width: 1023px) {
  .footer-copyright {
    padding: 45px 35px;
    background: #f0f0f0;
  }
}

@media (min-width: 1024px) and (max-width: 1439px) {
  .footer-copyright {
    padding: 60px 0;
    background: #f0f0f0;
  }
}

@media (min-width: 1440px) {
  .footer-copyright {
    padding: 60px 0;
    background: #f0f0f0;
  }
}

@media (min-width: 1024px) and (max-width: 1439px) {
  .footer-copyright-inner {
    width: 100%;
    max-width: 984px;
    margin: 0 auto;
  }
}

@media (min-width: 1440px) {
  .footer-copyright-inner {
    width: 100%;
    max-width: 1315px;
    margin: 0 auto;
  }
}

.footer-copyright-content {
  font-size: 12px;
}

@media (min-width: 1024px) {
  .banner-inner {
    display: flex;
    margin-bottom: 200px;
    position: relative;
  }
}

.banner-image {
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
}

@media (min-width: 1024px) {
  .banner-image {
    width: 125%;
    right: -18%;
  }
}

.banner-image-wrapper {
  position: relative;
  overflow: hidden;
  margin-bottom: 20px;
}

@media (min-width: 1024px) {
  .banner-image-wrapper {
    width: 67%;
    margin-bottom: 0;
  }
}

.banner-image-wrapper::after {
  content: "";
  display: block;
  padding-bottom: 100%;
}

@media (min-width: 1024px) {
  .banner-image-wrapper::after {
    padding-bottom: 125%;
  }
}

.banner-content {
  padding: 0 20px;
}

@media (min-width: 1024px) {
  .banner-content {
    display: flex;
    justify-content: flex-end;
    flex-basis: 37%;
  }
}

@media (min-width: 1440px) {
  .banner-content {
    justify-content: center;
  }
}

.banner-description {
  margin-bottom: 60px;
}

@media (min-width: 1024px) {
  .banner-description {
    position: absolute;
    left: 51.47%;
    top: 260px;
    width: 300px;
  }
}

@media (min-width: 1440px) {
  .banner-description {
    width: 100%;
  }
}

.banner-title {
  margin-bottom: 25px;
}

.banner-title-refinement {
  display: block;
  margin-bottom: 15px;
}

.banner-title-refinement-description {
  margin-bottom: 60px;
}

@media (min-width: 768px) {
  .banner-title-refinement-description {
    margin-bottom: 80px;
  }
}

@media (min-width: 1024px) {
  .banner-details {
    display: flex;
    align-self: stretch;
    align-items: flex-end;
  }
}

.banner-list {
  text-align: center;
  margin-bottom: 60px;
}

@media (min-width: 768px) {
  .banner-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 80px;
  }
}

@media (min-width: 1024px) {
  .banner-list {
    margin-bottom: 0;
    justify-content: center;
  }
}

.banner-item {
  position: relative;
  padding: 0px 25px;
}

@media (min-width: 768px) and (max-width: 1024px) {
  .banner-item {
    width: 270px;
    padding: 0 5px;
  }
}

@media (min-width: 1024px) {
  .banner-item {
    width: 310px;
  }
}

.banner-item-title {
  margin-bottom: 10px;
}

.banner-item + .banner-item {
  margin-top: 60px;
}

.banner-item + .banner-item::after {
  content: '';
  position: absolute;
  bottom: 100%;
  left: 0;
  right: 0;
  height: 1px;
  margin-bottom: 30px;
  background: repeating-linear-gradient(to right, #aaaaaa 0, #aaaaaa 5px, transparent 5px, transparent 7px) top no-repeat;
  background-size: 100% 2px;
}

.banner-text {
  font-size: 13px;
  line-height: 20px;
}

.gender {
  margin-bottom: 60px;
}

@media (min-width: 768px) and (max-width: 1023px) {
  .gender {
    margin-bottom: 80px;
  }
}

@media (min-width: 1024px) {
  .gender {
    margin-bottom: 200px;
  }
}

@media (min-width: 768px) {
  .gender-inner {
    display: flex;
    align-items: center;
    padding: 0 35px;
  }
}

@media (min-width: 1024px) {
  .gender-inner {
    width: 72%;
    margin: 0 auto;
    padding: 0;
  }
}

.gender-content {
  position: absolute;
  bottom: 10px;
  left: 50%;
  width: 68%;
  transform: translateX(-50%);
}

@media (min-width: 768px) and (max-width: 1024px) {
  .gender-content {
    bottom: 40px;
  }
}

@media (min-width: 1440px) {
  .gender-content {
    bottom: 60px;
  }
}

.gender-block {
  position: relative;
}

@media (min-width: 768px) {
  .gender-block {
    width: 50%;
    min-height: 435px;
  }
}

@media (min-width: 1440px) {
  .gender-block {
    min-height: 580px;
  }
}

.gender-block::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.25);
  z-index: -1;
}

.gender-image {
  position: absolute;
  top: 0;
  right: -22%;
  z-index: -2;
  width: 145%;
}

.gender-image-wrapper {
  position: relative;
  overflow: hidden;
}

.gender-image-wrapper::after {
  content: "";
  display: block;
  padding-bottom: 128%;
}

.gender-title {
  color: #ffffff;
  margin-bottom: 20px;
}

.gender-description {
  color: #ffffff;
  font-size: 13px;
  line-height: 19px;
  margin-bottom: 50px;
}

.gender-list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.gender-item {
  margin-bottom: 20px;
  flex-basis: 50%;
}

.gender-link {
  color: #ffffff;
  font-size: 12px;
}

.recommendations {
  padding: 80px 20px;
}

@media (min-width: 768px) and (max-width: 1023px) {
  .recommendations {
    padding: 80px 35px;
    margin-bottom: 100px;
  }
}

@media (min-width: 1024px) and (max-width: 1439px) {
  .recommendations {
    width: 100%;
    max-width: 984px;
    margin: 0 auto;
    padding: 0;
    margin-bottom: 260px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

@media (min-width: 1440px) {
  .recommendations {
    width: 100%;
    max-width: 1315px;
    margin: 0 auto;
    padding: 0;
    margin-bottom: 265px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.recommendations-text {
  font-size: 12px;
  margin-bottom: 10px;
}

@media (min-width: 768px) and (max-width: 1023px) {
  .recommendations-text {
    font-size: 14px;
    margin-bottom: 25px;
  }
}

@media (min-width: 1024px) and (max-width: 1439px) {
  .recommendations-text {
    margin-bottom: 25px;
  }
}

@media (min-width: 1440px) {
  .recommendations-text {
    margin-bottom: 25px;
  }
}

@media (min-width: 1024px) and (max-width: 1439px) {
  .recommendations-text-wrapper {
    width: 23%;
    padding-top: 60px;
  }
}

@media (min-width: 1440px) {
  .recommendations-text-wrapper {
    width: 17%;
    padding-top: 40px;
  }
}

.recommendations-title {
  font-size: 24px;
  margin-bottom: 40px;
}

@media (min-width: 768px) and (max-width: 1023px) {
  .recommendations-title {
    font-size: 36px;
    margin-bottom: 60px;
  }
}

@media (min-width: 1024px) and (max-width: 1439px) {
  .recommendations-title {
    line-height: 40px;
    font-size: 36px;
    margin-bottom: 0;
  }
}

@media (min-width: 1440px) {
  .recommendations-title {
    line-height: 40px;
    font-size: 36px;
    margin-bottom: 0;
  }
}

.recommendations-list {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: -50px;
}

@media (min-width: 768px) and (max-width: 1023px) {
  .recommendations-list {
    margin-bottom: 0;
  }
}

@media (min-width: 1024px) and (max-width: 1439px) {
  .recommendations-list {
    width: 74.4%;
    margin-bottom: 0;
  }
}

@media (min-width: 1440px) {
  .recommendations-list {
    width: 74.2%;
    margin-bottom: 0;
  }
}

.recommendations-item {
  width: 50%;
  text-align: center;
  margin-bottom: 50px;
}

@media (min-width: 768px) and (max-width: 1023px) {
  .recommendations-item {
    width: 33.3333%;
    margin-bottom: 0;
  }
}

@media (min-width: 1024px) and (max-width: 1439px) {
  .recommendations-item {
    width: 33.3333%;
    margin-bottom: 0;
  }
}

@media (min-width: 1440px) {
  .recommendations-item {
    width: 33.3333%;
    margin-bottom: 0;
  }
}

.recommendations-image {
  position: absolute;
  top: 0;
  left: 0;
}

.recommendations-image-wrapper {
  position: relative;
  margin-bottom: 10px;
  overflow: hidden;
}

.recommendations-image-wrapper::after {
  content: "";
  display: block;
  padding-bottom: 100%;
}

.recommendations-link {
  display: block;
  font-size: 14px;
  font-weight: 700;
  margin-bottom: 20px;
}

@media (min-width: 768px) and (max-width: 1023px) {
  .recommendations-link {
    display: inline-block;
    margin-bottom: 0;
  }
}

@media (min-width: 1024px) and (max-width: 1439px) {
  .recommendations-link {
    display: inline-block;
    margin-bottom: 0;
  }
}

@media (min-width: 1440px) {
  .recommendations-link {
    display: inline-block;
    margin-bottom: 0;
  }
}

.recommendations-wishlist {
  text-align: center;
}

.recommendations-wishlist:before {
  content: "";
}

@media (min-width: 768px) and (max-width: 1023px) {
  .recommendations-wishlist {
    margin-left: 10px;
    vertical-align: middle;
  }
}

@media (min-width: 1024px) and (max-width: 1439px) {
  .recommendations-wishlist {
    margin-left: 10px;
    vertical-align: middle;
  }
}

@media (min-width: 1440px) {
  .recommendations-wishlist {
    margin-left: 10px;
    vertical-align: middle;
  }
}

.recommendations-wishlist::before {
  font-size: 12px;
}

.recommendations-wishlist:hover:before {
  content: "";
}

.recommendations-wishlist:hover::before {
  font-size: 12px;
}

.item-extra {
  display: none;
}

@media (min-width: 320px) and (max-width: 767px) {
  .item-extra {
    display: block;
  }
}

.slot {
  margin-bottom: 80px;
}

@media (min-width: 768px) and (max-width: 1023px) {
  .slot {
    margin-bottom: 75px;
  }
}

@media (min-width: 1024px) and (max-width: 1439px) {
  .slot {
    margin-bottom: 210px;
  }
}

@media (min-width: 1440px) {
  .slot {
    margin-bottom: 210px;
  }
}

.slot-list {
  display: flex;
  flex-wrap: wrap;
}

.slot-item {
  width: 100%;
  position: relative;
  overflow: hidden;
}

@media (min-width: 768px) and (max-width: 1023px) {
  .slot-item {
    width: 33.3333%;
  }
}

@media (min-width: 1024px) and (max-width: 1439px) {
  .slot-item {
    width: 33.3333%;
  }
}

@media (min-width: 1440px) {
  .slot-item {
    width: 33.3333%;
  }
}

.slot-item::after {
  content: "";
  display: block;
  padding-bottom: 77%;
}

.slot-item-image {
  position: absolute;
  top: 0;
  left: 0;
}

.slot-item-link {
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  transform: translateY(-50%);
  color: #ffffff;
  text-align: center;
}

.slot-item-text {
  font-size: 12px;
  margin-bottom: 10px;
}

@media (min-width: 1024px) and (max-width: 1439px) {
  .slot-item-text {
    margin-bottom: 20px;
  }
}

@media (min-width: 1440px) {
  .slot-item-text {
    margin-bottom: 20px;
  }
}

.slot-item-title {
  font-size: 18px;
  font-weight: 700;
}

@media (min-width: 1024px) and (max-width: 1439px) {
  .slot-item-title {
    font-size: 24px;
  }
}

@media (min-width: 1440px) {
  .slot-item-title {
    font-size: 24px;
  }
}

.travel {
  margin-bottom: 60px;
  position: relative;
}

@media (min-width: 768px) and (max-width: 1023px) {
  .travel {
    padding: 0 34px;
    margin-bottom: 80px;
  }
}

@media (min-width: 1024px) and (max-width: 1439px) {
  .travel {
    width: 100%;
    max-width: 984px;
    margin: 0 auto;
    padding: 0;
    margin-bottom: 200px;
  }
}

@media (min-width: 1440px) {
  .travel {
    width: 100%;
    max-width: 1315px;
    margin: 0 auto;
    padding: 0;
    margin-bottom: 200px;
  }
}

.travel-image {
  width: 116%;
  position: absolute;
  top: 0;
  left: 0;
}

@media (min-width: 768px) and (max-width: 1023px) {
  .travel-image {
    width: 141%;
    left: -30%;
  }
}

@media (min-width: 1024px) and (max-width: 1439px) {
  .travel-image {
    width: 100%;
    left: 0;
  }
}

@media (min-width: 1440px) {
  .travel-image {
    width: 100%;
    left: 0;
  }
}

.travel-image-wrapper {
  position: relative;
  overflow: hidden;
  margin-bottom: 20px;
}

@media (min-width: 768px) and (max-width: 1023px) {
  .travel-image-wrapper {
    width: 65.7%;
  }
}

@media (min-width: 1024px) and (max-width: 1439px) {
  .travel-image-wrapper {
    width: 65.85%;
  }
}

@media (min-width: 1440px) {
  .travel-image-wrapper {
    width: 65.78%;
  }
}

.travel-image-wrapper::after {
  content: "";
  display: block;
  padding-bottom: 78.125%;
}

@media (min-width: 768px) and (max-width: 1023px) {
  .travel-image-wrapper::after {
    padding-bottom: 94.57%;
  }
}

@media (min-width: 1024px) and (max-width: 1439px) {
  .travel-image-wrapper::after {
    padding-bottom: 67.13%;
  }
}

@media (min-width: 1440px) {
  .travel-image-wrapper::after {
    padding-bottom: 67.05%;
  }
}

.travel-content {
  padding: 0 20px;
}

@media (min-width: 768px) and (max-width: 1023px) {
  .travel-content {
    width: 48.6%;
    padding: 0;
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
  }
}

@media (min-width: 1024px) and (max-width: 1439px) {
  .travel-content {
    width: 40.244%;
    padding: 0;
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
  }
}

@media (min-width: 1440px) {
  .travel-content {
    width: 31.56%;
    padding: 0;
    position: absolute;
    top: 50%;
    right: 115px;
    transform: translateY(-50%);
  }
}

.travel-text {
  font-size: 12px;
  margin-bottom: 10px;
}

@media (min-width: 768px) and (max-width: 1023px) {
  .travel-text {
    margin-bottom: 20px;
  }
}

@media (min-width: 1024px) and (max-width: 1439px) {
  .travel-text {
    margin-bottom: 20px;
  }
}

@media (min-width: 1440px) {
  .travel-text {
    margin-bottom: 25px;
  }
}

.travel-title {
  font-size: 24px;
  margin-bottom: 10px;
}

@media (min-width: 768px) and (max-width: 1023px) {
  .travel-title {
    font-size: 36px;
  }
}

@media (min-width: 1024px) and (max-width: 1439px) {
  .travel-title {
    font-size: 36px;
  }
}

@media (min-width: 1440px) {
  .travel-title {
    font-size: 36px;
  }
}

.travel-description {
  font-size: 14px;
  line-height: 22px;
  margin-bottom: 25px;
}

@media (min-width: 768px) and (max-width: 1023px) {
  .travel-description {
    font-size: 18px;
    line-height: 30px;
    margin-bottom: 55px;
  }
}

@media (min-width: 1024px) and (max-width: 1439px) {
  .travel-description {
    font-size: 18px;
    line-height: 30px;
    margin-bottom: 50px;
  }
}

@media (min-width: 1440px) {
  .travel-description {
    font-size: 18px;
    line-height: 30px;
    margin-bottom: 55px;
  }
}

.travel-links_list {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: -15px;
}

.travel-links_item {
  margin-bottom: 15px;
  width: 50%;
}

.travel-link {
  font-size: 12px;
}

@media (min-width: 1024px) and (max-width: 1439px) {
  .travel-link {
    font-size: 12px;
    color: #000000;
    position: relative;
  }
  .travel-link:hover::after {
    content: '';
    position: absolute;
    width: 100%;
    left: 0;
    bottom: -2px;
    background: #3f3f3f;
    height: 1px;
  }
}

@media (min-width: 1440px) {
  .travel-link {
    font-size: 12px;
    color: #000000;
    position: relative;
  }
  .travel-link:hover::after {
    content: '';
    position: absolute;
    width: 100%;
    left: 0;
    bottom: -2px;
    background: #3f3f3f;
    height: 1px;
  }
}

.bag {
  margin-bottom: 60px;
}

@media (min-width: 768px) and (max-width: 1023px) {
  .bag {
    margin-bottom: 80px;
    padding: 0 35px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

@media (min-width: 1024px) and (max-width: 1439px) {
  .bag {
    width: 100%;
    max-width: 984px;
    margin: 0 auto;
    margin-bottom: 200px;
    padding: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 85px;
  }
}

@media (min-width: 1440px) {
  .bag {
    width: 100%;
    max-width: 1315px;
    margin: 0 auto;
    margin-bottom: 200px;
    padding: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 115px;
  }
}

.handbag {
  margin-bottom: 50px;
}

@media (min-width: 768px) and (max-width: 1023px) {
  .handbag {
    margin: 0;
    width: 40%;
  }
}

@media (min-width: 1024px) and (max-width: 1439px) {
  .handbag {
    margin: 0;
    width: 34.666%;
  }
}

@media (min-width: 1440px) {
  .handbag {
    margin: 0;
    width: 34.5833%;
  }
}

.handbag-text {
  padding: 0 20px;
  font-size: 12px;
  margin-bottom: 10px;
}

@media (min-width: 768px) and (max-width: 1023px) {
  .handbag-text {
    padding: 0;
  }
}

@media (min-width: 1024px) and (max-width: 1439px) {
  .handbag-text {
    padding: 0;
  }
}

@media (min-width: 1440px) {
  .handbag-text {
    padding: 0;
    margin-bottom: 15px;
  }
}

.handbag-title {
  padding: 0 20px;
  font-size: 24px;
  margin-bottom: 20px;
}

@media (min-width: 768px) and (max-width: 1023px) {
  .handbag-title {
    padding: 0;
  }
}

@media (min-width: 1024px) and (max-width: 1439px) {
  .handbag-title {
    padding: 0;
  }
}

@media (min-width: 1440px) {
  .handbag-title {
    padding: 0;
  }
}

.handbag-image {
  width: 137%;
  position: absolute;
  top: 0;
  left: -25%;
}

@media (min-width: 768px) and (max-width: 1023px) {
  .handbag-image {
    width: 100%;
    left: 0;
  }
}

@media (min-width: 1024px) and (max-width: 1439px) {
  .handbag-image {
    width: 100%;
    left: 0;
  }
}

@media (min-width: 1440px) {
  .handbag-image {
    width: 100%;
    left: 0;
  }
}

.handbag-image-wrapper {
  position: relative;
  overflow: hidden;
  width: 76.56%;
  margin-bottom: 20px;
}

@media (min-width: 768px) and (max-width: 1023px) {
  .handbag-image-wrapper {
    margin-bottom: 15px;
    width: 100%;
  }
}

@media (min-width: 1024px) and (max-width: 1439px) {
  .handbag-image-wrapper {
    margin-bottom: 20px;
    width: 100%;
  }
}

@media (min-width: 1440px) {
  .handbag-image-wrapper {
    margin-bottom: 20px;
    width: 100%;
  }
}

.handbag-image-wrapper::after {
  content: "";
  display: block;
  padding-bottom: 85.7%;
}

@media (min-width: 768px) and (max-width: 1023px) {
  .handbag-image-wrapper::after {
    padding-bottom: 75%;
  }
}

@media (min-width: 1024px) and (max-width: 1439px) {
  .handbag-image-wrapper::after {
    padding-bottom: 67.3%;
  }
}

@media (min-width: 1440px) {
  .handbag-image-wrapper::after {
    padding-bottom: 67.47%;
  }
}

.handbag-link {
  font-size: 13px;
  font-weight: 700;
  text-transform: uppercase;
  position: relative;
  margin-left: 20px;
}

.handbag-link::after {
  content: '';
  position: absolute;
  width: 100%;
  left: 0;
  bottom: -5px;
  background: #c4d5e8;
  height: 2px;
}

.handbag-link:hover::after {
  background: #0b2171;
}

@media (min-width: 768px) and (max-width: 1023px) {
  .handbag-link {
    margin: 0;
  }
}

@media (min-width: 1024px) and (max-width: 1439px) {
  .handbag-link {
    margin: 0;
  }
}

@media (min-width: 1440px) {
  .handbag-link {
    margin: 0;
  }
}

.backpack {
  position: relative;
}

.backpack::after {
  content: '';
  display: table;
  clear: both;
  width: 100%;
}

@media (min-width: 768px) and (max-width: 1023px) {
  .backpack {
    width: 57.14%;
  }
}

@media (min-width: 1024px) and (max-width: 1439px) {
  .backpack {
    width: 62.666%;
  }
}

@media (min-width: 1440px) {
  .backpack {
    width: 62.5%;
  }
}

.backpack-image {
  width: 137%;
  position: absolute;
  top: 0;
  left: -25%;
}

@media (min-width: 768px) and (max-width: 1023px) {
  .backpack-image {
    width: 114%;
    left: 0;
  }
}

@media (min-width: 1024px) and (max-width: 1439px) {
  .backpack-image {
    width: 100%;
    left: 0;
  }
}

@media (min-width: 1440px) {
  .backpack-image {
    width: 100%;
    left: 0;
  }
}

.backpack-image-wrapper {
  float: right;
  position: relative;
  overflow: hidden;
  width: 76.56%;
}

@media (min-width: 768px) and (max-width: 1023px) {
  .backpack-image-wrapper {
    float: none;
    width: 100%;
  }
}

@media (min-width: 1024px) and (max-width: 1439px) {
  .backpack-image-wrapper {
    float: none;
    width: 100%;
  }
}

@media (min-width: 1440px) {
  .backpack-image-wrapper {
    float: none;
    width: 100%;
  }
}

.backpack-image-wrapper::after {
  content: "";
  display: block;
  padding-bottom: 114.3%;
}

@media (min-width: 768px) and (max-width: 1023px) {
  .backpack-image-wrapper::after {
    padding-bottom: 100%;
  }
}

@media (min-width: 1024px) and (max-width: 1439px) {
  .backpack-image-wrapper::after {
    padding-bottom: 100%;
  }
}

@media (min-width: 1440px) {
  .backpack-image-wrapper::after {
    padding-bottom: 100%;
  }
}

.backpack-title {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 24px;
  color: #ffffff;
  font-weight: 700;
}

@media (min-width: 768px) and (max-width: 1023px) {
  .backpack-title {
    font-size: 48px;
  }
}

@media (min-width: 1024px) and (max-width: 1439px) {
  .backpack-title {
    font-size: 48px;
  }
}

@media (min-width: 1440px) {
  .backpack-title {
    font-size: 48px;
  }
}
