@font-face {
   font-family: 'Apercu';
   src: url('../fonts/apercu/Apercu-Regular.eot');
   src: url('../fonts/apercu/Apercu-Regular.eot?#iefix') format('embedded-opentype'),
      url('../fonts/apercu/Apercu-Regular.woff2') format('woff2'),
      url('../fonts/apercu/Apercu-Regular.woff') format('woff'),
      url('../fonts/apercu/Apercu-Regular.ttf') format('truetype');
   font-weight: normal;
   font-style: normal;
}

@font-face {
   font-family: 'Apercu';
   src: url('../fonts/apercu/Apercu-Italic.eot');
   src: url('../fonts/apercu/Apercu-Italic.eot?#iefix') format('embedded-opentype'),
      url('../fonts/apercu/Apercu-Italic.woff2') format('woff2'),
      url('../fonts/apercu/Apercu-Italic.woff') format('woff'),
      url('../fonts/apercu/Apercu-Italic.ttf') format('truetype');
   font-weight: normal;
   font-style: italic;
}

@font-face {
   font-family: 'Apercu';
   src: url('../fonts/apercu/Apercu-Bold.eot');
   src: url('../fonts/apercu/Apercu-Bold.eot?#iefix') format('embedded-opentype'),
      url('../fonts/apercu/Apercu-Bold.woff2') format('woff2'),
      url('../fonts/apercu/Apercu-Bold.woff') format('woff'),
      url('../fonts/apercu/Apercu-Bold.ttf') format('truetype');
   font-weight: bold;
   font-style: normal;
}

@font-face {
   font-family: 'Apercu';
   src: url('../fonts/apercu/Apercu-Medium.eot');
   src: url('../fonts/apercu/Apercu-Medium.eot?#iefix') format('embedded-opentype'),
      url('../fonts/apercu/Apercu-Medium.woff2') format('woff2'),
      url('../fonts/apercu/Apercu-Medium.woff') format('woff'),
      url('../fonts/apercu/Apercu-Medium.ttf') format('truetype');
   font-weight: 500;
   font-style: normal;
}

@font-face {
   font-family: 'Apercu';
   src: url('../fonts/apercu/Apercu-BoldItalic.eot');
   src: url('../fonts/apercu/Apercu-BoldItalic.eot?#iefix') format('embedded-opentype'),
      url('../fonts/apercu/Apercu-BoldItalic.woff2') format('woff2'),
      url('../fonts/apercu/Apercu-BoldItalic.woff') format('woff'),
      url('../fonts/apercu/Apercu-BoldItalic.ttf') format('truetype');
   font-weight: bold;
   font-style: italic;
}

@font-face {
   font-family: 'Apercu Mono';
   src: url('../fonts/apercu/Apercu-Mono.eot');
   src: url('../fonts/apercu/Apercu-Mono.eot?#iefix') format('embedded-opentype'),
      url('../fonts/apercu/Apercu-Mono.woff2') format('woff2'),
      url('../fonts/apercu/Apercu-Mono.woff') format('woff'),
      url('../fonts/apercu/Apercu-Mono.ttf') format('truetype');
   font-weight: normal;
   font-style: normal;
}

@font-face {
   font-family: 'Apercu';
   src: url('../fonts/apercu/Apercu-Light.eot');
   src: url('../fonts/apercu/Apercu-Light.eot?#iefix') format('embedded-opentype'),
      url('../fonts/apercu/Apercu-Light.woff2') format('woff2'),
      url('../fonts/apercu/Apercu-Light.woff') format('woff'),
      url('../fonts/apercu/Apercu-Light.ttf') format('truetype');
   font-weight: 300;
   font-style: normal;
}

@font-face {
   font-family: 'Apercu';
   src: url('../fonts/apercu/Apercu-LightItalic.eot');
   src: url('../fonts/apercu/Apercu-LightItalic.eot?#iefix') format('embedded-opentype'),
      url('../fonts/apercu/Apercu-LightItalic.woff2') format('woff2'),
      url('../fonts/apercu/Apercu-LightItalic.woff') format('woff'),
      url('../fonts/apercu/Apercu-LightItalic.ttf') format('truetype');
   font-weight: 300;
   font-style: italic;
}

@font-face {
   font-family: 'Apercu';
   src: url('../fonts/apercu/Apercu-LightItalic_1.eot');
   src: url('../fonts/apercu/Apercu-LightItalic_1.eot?#iefix') format('embedded-opentype'),
      url('../fonts/apercu/Apercu-LightItalic_1.woff2') format('woff2'),
      url('../fonts/apercu/Apercu-LightItalic_1.woff') format('woff'),
      url('../fonts/apercu/Apercu-LightItalic_1.ttf') format('truetype');
   font-weight: 300;
   font-style: italic;
}

@font-face {
   font-family: 'Apercu';
   src: url('../fonts/apercu/Apercu-MediumItalic.eot');
   src: url('../fonts/apercu/Apercu-MediumItalic.eot?#iefix') format('embedded-opentype'),
      url('../fonts/apercu/Apercu-MediumItalic.woff2') format('woff2'),
      url('../fonts/apercu/Apercu-MediumItalic.woff') format('woff'),
      url('../fonts/apercu/Apercu-MediumItalic.ttf') format('truetype');
   font-weight: 500;
   font-style: italic;
}