// COLORS
$white01: #ffffff; //bg color

$black01: #000000; //primary text color

$grey01: #cccccc; //elements color
$grey02: #f0f0f0; //block color
$grey03: #aaaaaa; //dividers color
$grey04: #a3a3a3; //placeholder
$grey05: #7f7f7f; //underline for link
$grey06: #bfbfbf; //underline for link
$grey07: #3f3f3f;

$blue01: #c4d5e8; //elements color
$blue02: #0b2171; //hover color

$red01: #de0000; //errors color

// FONTS
$font-stack: 'Apercu',
sans-serif;

// FONT-SIZE
$primary-font-size: 10px;

// FONT-WEIGHT
$light: 300;
$regular: 400;
$medium: 500;
$semibold: 600;
$bold: 700;

// SITE WIDTH
$site_width-desktop: 984;
$site_width-bigdesktop: 1315;

//SIZES 
$mobile: 320;
$tablet: 768;
$desktop: 1024;
$bigdesktop: 1440;